.BRArea {
  width: 1200px;
  text-align: center;
  padding: 0;
  .aaa{
    margin: 0 auto;
  }
  .mySwiper {
    width: 90%;
  }
  .BRSlideArea {
    &:first-child{
      margin-left:9rem;
    }
    width: 288px;
    height: 465px;
    cursor: pointer;
    float: left;
    margin: 2em 1em;
    .BRImg {
      text-align: center;
      img {
        height: 288px;
        width: 288px;
      }
    }
    .BRTextArea {
      text-align: left;
      img {
        width: 114px;
        height: 22px;
      }
      p {
        letter-spacing: -2px;
        margin: 11px 0;
        font-weight: 300;
        color: #948780;
      }
      .FirstP {
        color: #2f231c;
        font-size: 17px;
        line-height: 23px;
        font-weight: bold;
        letter-spacing: -3.5px;
      }
    }
    &::after {
      content: "";
      clear: both;
      float: none;
      display: block;
    }
  }

  .swiper-pagination-bullet {
    background: #cdccd5;
    width: 10px;
    height: 10px;
    margin-right: 1%;
  }
  .swiper-pagination-bullet-active {
    background: #301d17 !important;
    width: 10px;
    height: 10px;
  }
}
