.BRArea{
    height: 721px;
    width: 1200px;
    margin: auto;
    text-align: center;
    padding: 10px;
    .BRTitle {
        
        img{
        }
    }
    .BRSlideArea{
        border: 1px solid red;
        width: 25%;
        height: 465px;
        cursor: pointer;
        .BRImg{
            padding:5px 0;
            img{
              height: 288px;
              width:288px;
            }
        }
        .BRTextArea{
            text-align: left;
            img{
                width:114px;
                height: 22px;
            }
            p{
                letter-spacing: -2px;
                margin: 11px 0;
                font-weight: 300;
                color: #948780;
            }
            .FirstP{
                color: #2f231c;
                font-size: 17px;
                line-height: 23px;
                font-weight: bold;
                letter-spacing: -3.5px;
            }
    }
    }

    .swiper-pagination-bullet {
        background: #cdccd5; ; 
        width:10px;
        height:10px;
       }
   .swiper-pagination-bullet-active {
        background: #301d17 !important; 
        width:10px;
        height:10px;
       }
   
}
