.menuArea {
  max-height: 300px;
  border-bottom: 1px solid #3f291a;
  width: 100%;
  .menuWidth {
    display: flex;
    width: 100%;
    justify-content: center;
    .imgArea {
      width: 30%;
      display: flex;
      align-items: center;
      margin-left: -10rem;
    }
    .textArea {
      padding-left: 1rem;
      display: flex;
      justify-content: space-around;
      width: 44%;
      div {
        text-align: center;
        a {
          text-decoration: none;
          color: #928883;
          &:hover {
            color: #ff7c98;
          }
        }
      }
      .event {
        padding-left: 1.2rem;
      }
      .store {
        padding-right: 1rem;
      }
      .about {
        padding-right: 1rem;
      }
    }
  }
}
