body {
  padding: 0;
  margin: 0;
  color: #483834;
  font-size: 13px;
  font-family: "Nanum Barun Gothic", "나눔고딕", "NanumGothic", "돋움", "Dotum",
    sans-serif;
  line-height: 1.5;
  letter-spacing: -0.05em;
}
.headerArea {
  background: url("../../image/header/bg_header.gif") 50% 0 repeat-x;
  min-width: 1200px;
  border-top: 3px solid #ff7c98;
  border-bottom: 1px solid #3f291a;
  scroll-padding-top: 20px;
  position: relative;
  
  .headerWidth {
    display: flex;
    justify-content: space-around;
    padding-top: 1.5%;
    width: 80%;
    margin: auto;
    .snsArea {
      display: flex;
      align-items: center;
      img {
        margin: 5px;
        cursor: pointer;

      }
    }
    .etc {
      display: flex;
      align-items: center;
      span {
        letter-spacing: -1px;
        font-size: 11px;
        padding: 0 10px;
        cursor: pointer;
      }
      img {
        padding: 0 10px;
        cursor: pointer;
      }
    }
  }
}
.navTop {
  margin-top: 1.5%;
  border-top: 1px solid #e2d9d6;
  max-height: 46px;
  .navMenu {
    display: flex;
    justify-content: center;
    .member {
      display: flex;
      span {
        display: block;
        height: 46px;
        text-indent: -9999em;
        line-height: 46px;
        background: url(../../image/header/gnb_menu.png) no-repeat;
        margin: 0 20px;
        padding-right: 5px;
      }
      .login {
        width: 35px;
        background-position: 0px -1px;
      }
      .join {
        width: 27px;
        background-position: -97px -1px;
      }
    }
    .menuNavArea {
      display: flex;
      span {
        display: block;
        background: url(../../image/header/gnb_menu.png) no-repeat;
        height: 46px;
        text-indent: -9999em;
        line-height: 46px;
        margin: 0 10px;
        padding: 0 30px;
        cursor: pointer;
      }
      .flavor {
        width: 164px;
        background-position: -133px -3px;
      }
      .menu {
        width: 42px;
        background-position: -415px -3px;
      }
      .NI {
        width: 105px;
        background-position: -545px -3px;
      }
      .event {
        width: 42px;
        background-position: -737px -3px;
      }
      .store {
        width: 49px;
        background-position: -897px -3px;
      }
      .about {
        width: 49px;
        background-position: -1057px -3px;
      }
    }
  }
}
